openapi: 3.0.0
info:
  title: AquilaX AI API Docs
  version: '2.0'
  description: |
    Welcome to the API documentation for AquilaX. Integrate AquilaX for advanced data processing and analytics in your applications. Key features include seamless data ingestion, powerful processing capabilities, analytics tools, real-time updates, and robust security measures. Get started with API keys, explore endpoints, understand formats, and implement error handling.Authorization is required for all end-points, excluding the one under Public Section. To authenticate, a Personal Access Token `PAT` must be included in the request header with the name `X-AX-KEY`. Happy coding!

servers:
  - url: https://aquilax.ai
    description: Cloud Instance

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-AX-KEY  # Define the header name for PAT

  schemas:
    Error:
      type: object
      description: Schema for error responses.
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string

    GenericJSON:
      type: object
      description: |
        JSON Object or Array containing the data in request. 
        Please do your own request to validate the JSON in output, 
        as it may contain different information


    HealthResponse:
      type: object
      description: Schema for health check response.
      properties:
        ID:
          type: string
          example: "95148e14be674e067be644de814de36c"
          description: "random generated request id"
        hostname:
          type: string
          example: "localhost"
          description: "Hostname of the server"
        status:
          type: string
          example: "ok"
          description: " `ok` only if the API Services is healthy"
        timestamp:
          type: integer
          example: 1741492261
          description: "unix timestamp of the request"
        version:
          type: integer
          example: 2
          description: "API Version"

    AppStats:
      type: object
      description: Schema for application statistics.
      properties:
        line_of_codes:
          type: integer
        orgs:
          type: integer
        scans:
          type: integer
        users:
          type: integer
        vulns:
          type: integer

    ScanRequest:
      type: object
      description: Schema for initiating a new scan.
      properties:
        url:
          type: string
          format: uri
          description: The URL of the public Git repository to scan.
        options:
          type: object
          description: Optional parameters for the scan.
          properties:
            depth:
              type: integer
              description: Scan depth level.
            include_submodules:
              type: boolean
              description: Include submodules in the scan.

    ScanResponse:
      type: object
      description: Schema for scan response.
      properties:
        scan_token:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time

    VerifyMe:
      type: object
      description: Schema representing user data.
      properties:
        email:
          type: string
          example: user@example.com
          description: "User Email"
        userData:
          type: string
          description: "Unique User ID"
          example: "xxxxx-82f9-4c65-b1cd-xxxxxxxxx"

    UserData:
      type: object
      description: Schema representing user data.
      properties:
        notification_count:
          type: integer
          example: 0
          description: "User Email"
        user_id:
          type: string
          description: "Unique User ID"
          example: "xxxxx-82f9-4c65-b1cd-xxxxxxxxx"

    Notification:
      type: object
      description: Schema for user notifications.
      properties:
        id:
          type: string
        message:
          type: string
        created_at:
          type: string
          format: date-time

    ActivityLog:
      type: object
      description: Schema for activity logs.
      properties:
        id:
          type: string
        action:
          type: string
        timestamp:
          type: string
          format: date-time

    AccessToken:
      type: object
      description: Schema for access token.
      properties:
        token:
          type: string
        expires_at:
          type: string
          format: date-time

security:
  - ApiKeyAuth: []

tags:
  - name: Health
    description: Endpoints for metrics and health check
  - name: Profile
    description: Endpoints for managing user profiles
  - name: Public Scan
    description: Endpoints for scanning a public git repo
  - name: Admin
    description: Endpoints for AquilaX Worker

paths:
  /api/v2/health:
    get:
      summary: Health check endpoint
      tags:
        - Health
      description: Check if the API is running
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /api/v2/app-stats:
    get:
      summary: Get application statistics
      tags:
        - Health
      description: Retrieve general statistics about the application
      security: []
      responses:
        '200':
          description: Statistics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStats'

  /api/v2/public/scan:
    post:
      summary: Start a new public scan
      security: []
      tags:
        - Public Scan
      description: Initiate a new scan without authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanRequest'
      responses:
        '200':
          description: Scan initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanResponse'

  /api/v2/public/scan/{scan_token}:
    get:
      summary: Get public scan results
      security: []
      tags:
        - Public Scan
      parameters:
        - name: scan_token
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Scan results retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanResponse'

  /api/v2/profile:
    get:
      summary: Profile
      description: Retrieve user data, organizations, notification_count, latest access logs and access tokens
      tags:
        - Profile
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: User data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserData'

  /api/v2/admin/scans/pending:
    get:
      summary: Get pending scans
      tags:
        - Admin
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Pending scans retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScanResponse'

  /api/v2/heartbeat/runners:
    get:
      summary: Runner heartbeat endpoint
      tags:
        - Health
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Heartbeat successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string


  /api/v2/{organization_id}/securitron:
    post:
      summary: Securitron ChatBot
      tags:
        - Public Scan
      security:
        - ApiKeyAuth: []
      parameters:
        - name: organization_id
          in: path
          required: true
          schema:
            type: string
            default: "your_own_org"
      description: Securitron is built on a series of specialized Small Language Models (SLMs), designed to enhance user experience and streamline interactions within the AquilaX ecosystem. 🚀
      requestBody:
        required: true
        content:
          application/json:
            schema:
                type: object
                description: Data to submit on your request to Securitron
                properties:
                  prompt:
                    type: string
                    description: A user prompt
                    example: "Who am i?"
                  group_id:
                    type: string
                    description: The group ID you want Securitron to use2
                    example: "abc"
                  sessione_id:
                    type: string
                    description: A random ID defined from the client, to be used as a sessione_id
                    example: "123"
                  stream:
                    type: boolean
                    description: A random ID defined from the client, to be used as a sessione_id
                    example: false

      responses:
        '200':
          description: Successful response with a structured text output
          content:
            text/markdown:
              schema:
                type: string
                description: |
                 Since the content type is always set to text/markdown, it should consistently be processed as such. 
                 This applies even if an API call fails with a status code other than 200—the response body will still contain a markdown-formatted message conveying the necessary information to the user. 
                 The only exception is when the content type is set to stream; in that case, the content should still be treated as markdown but delivered in a streaming format. 
                 ### Python code example to read the data in stream
                 ```
                  import requests

                  url = "https://aquilax.ai/api/v2/<your_own_org>/securitron"

                  payload = {
                      "prompt": "what is sql injection?",
                      "group_id": "<your_own_group>",
                      "sessione_id": "<random session id>",
                      "stream": True
                  }

                  headers = {
                      "X-AX-KEY": "",  # Add your API key here
                      "Content-Type": "application/json"
                  }

                  def stream_response(url, payload, headers):
                      """
                      Sends a POST request with streaming enabled and processes the response in real-time.
                      """
                      with requests.post(url, json=payload, headers=headers, stream=True) as response:
                          response.raise_for_status()  # Ensure request was successful

                          for line in response.iter_lines():
                              if line:
                                  decoded_line = line.decode('utf-8')
                                  print(f"Received: {decoded_line}")

                  # Call the function
                  stream_response(url, payload, headers)
                 ```
                example: |
                  Hey Name Surname!  
                  You authenticated via google using `your_email@aquilax.io`. 

  /api/v2/organization/{organization_id}/groups:
    get:
      summary: Get Groups
      description: Returns an array of all groups associated with the given organization ID. 🚀
      tags:
        - Public Scan
      security:
        - ApiKeyAuth: []
      parameters:
        - name: organization_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Group Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericJSON'

  /api/v2/organization/{organization_id}/group/{group_id}/report:
    get:
      summary: Report
      description: Returns an JSON documentation with the number of projects, scans, line of code and files, along with the vulnerabilites
      tags:
        - Public Scan
      security:
        - ApiKeyAuth: []
      parameters:
        - name: organization_id
          in: path
          required: true
          schema:
            type: string
        - name: group_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Group Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericJSON'


  /api/v2/organization/{organization_id}/group/{group_id}/report/scans:
    get:
      summary: Scans
      description: Returns an JSON documentation with the number of scans, the time are created and their status (the API my limit the quantity of data for performance reasons)
      tags:
        - Public Scan
      security:
        - ApiKeyAuth: []
      parameters:
        - name: organization_id
          in: path
          required: true
          schema:
            type: string
        - name: group_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Group Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericJSON'